.index {
  width: 400px;
  margin: auto;
}

.menu-list {
  margin: 16px 0;
  justify-content: center;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link-active {
  color: red;
}

.count-buttons {
  justify-content: center;
}
